@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Poopins";
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #fffff0;
  overflow: hidden;
}

.fondo-img{
  background-image: url('./assets/images/paisaje-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Estilos para el autocoplete de los inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #141414 inset, 0 0 0 2px #0ea5e9 !important;
  -webkit-text-fill-color: #fff !important;
}

/* App.css or a dedicated CSS file */

.loader {
  border-top-color: #3498db; /* Color del borde superior */
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

path {
  width: 100%;
}

/* Barra de desplazamiento */

/* Estilo general para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Ancho inicial de la barra de desplazamiento */
  transition: width 0.3s; /* Transición para el cambio de ancho */
}

::-webkit-scrollbar:hover {
  width: 10px; /* Ancho de la barra de desplazamiento al pasar el mouse */
}

::-webkit-scrollbar-track {
  background: rgb(55 65 81) ; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(80, 115, 172); /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(80, 115, 172); /* Color del thumb al pasar el mouse */
}

