@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .a-open-left {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
  }
  
  .a-left {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
  }
  
  /* anmacion aside right */
  
  .a-open-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
  }
  
  .a-right {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
  }
  
}